<html>
<head>
<title>database</title>
<style type="text/css">
table {
	border-top: solid 1px black;
	border-left: solid 1px black;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

th {
	white-space: nowrap;
}

th, td {
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 30px;
}

.dragable {
	width: 3px;
	height: 100%;
	background-color: white;
	float: right;
	cursor: col-resize;
}
</style>
</head>
<body>
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th style="width: 120px;">编号</th>
				<th style="width: 120px;">姓名</th>
				<th style="width: 120px;">年龄</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Siuon</td>
				<td>100</td>
				<td>JavaEE工程师...</td>
			</tr>
		</tbody>
	</table>
</body>
</html>